@import url('https://fonts.googleapis.com/css?family=Fira+Sans:900|Lato:300,900');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.emergency-bar {
  background-image: linear-gradient(to right, #00ceff, #00b9f2, #00a5e4, #0090d4, #007cc3);
  color: white;
  text-align: center;
  padding: 0.25rem;
  max-width: 2000px;
  margin: 0 auto;
}

.emergency-bar p {
  margin: 0;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 0.8rem;
}

.emergency-bar h3 {
  display: none;
}

.uk-article-title {
  display: none;
}

nav  {
  width: 100vw;
  padding: 3rem 4rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 15rem;
  height: auto;
}

.uk-nav {
  padding: 0;
  margin: 3rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

.uk-nav li a {
  font-weight: bold;
  text-decoration: none;
  color: black;
  margin: 0 1rem;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.uk-nav li a:hover {
  color: #007CC3;
}

.button {
  color: #fff;
  font-weight: 900;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
	background-image: linear-gradient(to left, #00ceff, #00b9f2, #00a5e4, #0090d4, #007cc3);
	border-radius: 2rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
  letter-spacing: 1px;
}

.button:hover {
  box-shadow: 0 3px 28px rgba(0,0,0,0.25), 0 3px 6px rgba(0,0,0,0.22);
}

section#hero {
  width: 100%;
  height: 28rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to left, #00ceff, #00b9f2, #00a5e4, #0090d4, #007cc3);
  color: white;
  text-align: center;
  max-width: 2000px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#hero h2 {
  margin: 0;
  padding: 0;
  font-size: 4rem;
  font-weight: 900;
  font-family: 'Fira Sans', sans-serif;
}

#hero h3 {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: 300;
}

#hero h4 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 300;
}

#hero h4 a, footer a {
  color: white;
}

.our-services {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0 auto;
  max-width: 2000px;
}

.our-services h5 {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  background: #eee;
  padding: 1rem 0.5rem;
  height: 5rem;
  font-size: 1rem;
  width: 100%;
  font-weight: 300;
}

#auto {
  background: linear-gradient(0deg,rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),url('/storage/auto.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#home {
  background: linear-gradient(0deg,rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),url('/storage/home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#farm {
  background: linear-gradient(0deg,rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),url('/storage/farm.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#commercial {
  background: linear-gradient(0deg,rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),url('/storage/commercial.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#recreational {
  background: linear-gradient(0deg,rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),url('/storage/recreational.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-home, .team-home, .main-content {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  max-width: 2000px;
}

.about-home, .team-home {
  margin: 5rem auto;
}

.about-home p {
  width: 55%;
  text-align: left;
  margin: 0 auto 3rem;
  line-height: 1.5;
  font-size: 1.1rem;
  padding: 1rem;
  font-weight: 300;
}

.about-home h2, .team-home h2, .main-content h2 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 2rem;
  font-family: 'Fira Sans', sans-serif;
}

.team-home {
  padding-bottom: 0rem;
}

.team-home img {
  width: 60%;
  height: auto;
}

#map {
  width: 100%;
  height: 300px;
  border: none;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 2000px;
}

.footer h3 {
  display: none;
}

footer {
  background-image: linear-gradient(to left top, #00ceff, #00b9f2, #00a5e4, #0090d4, #007cc3);
  color: white;
  margin: 0 auto;
  max-width: 2000px;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
}

.footer-info {
  text-align: center;
}

.footer-info h2 {
  font-family: 'Fira Sans', sans-serif;
}

.footer-info p {
  margin: 0 0 0.25rem;
  font-size: 1.1rem;
  font-weight: 300;
}

/*--------------------------------Contact Form--------------------------*/

div.contactForm {
  color: #fff;
  width: 80%;
  max-width: 700px;
  padding: 2rem 0;
}

div#contactInfo h2 {
  padding: 0;
  margin: 1rem 0;
  font-weight: 900;
  font-size: 2.2rem;
  font-family: 'Fira Sans', sans-serif;
}

div#contactInfo p {
  padding: 0;
  margin: 1rem 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.25rem;
  width: 100%;
}

label {
  position: relative;
  align-self: flex-start;
  font-weight: 900;
  font-size: 1rem;
  color: #fff;
}

input, textarea {
  width: 100%;
  background: hsla(0,0%,100%,0.1);
	border: none;
  border-bottom: 1px solid #fff;
  font-weight: 400;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  color: #fff;
  padding: 0.5rem;
  letter-spacing: normal;
}

textarea {
  resize: vertical;
}

input:focus, textarea:focus {
  outline: none;
}

div.formItems input:focus + label {
  color: #fff;
}

div.formItems textarea:focus + label {
  color: #fff;
}

button {
  color: #00a5e4;
  font-weight: 900;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
	background: #fff;
	border-radius: 2rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
  letter-spacing: 1px;
  width: 10rem;
  cursor: pointer;
  border: none;
  font-size: 1rem;
}

button:hover {
  box-shadow: 0 3px 28px rgba(0,0,0,0.25), 0 3px 6px rgba(0,0,0,0.22);
}

/*--------------------------------Our Team Page--------------------------*/

.full-bio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

.bio-img {
  width: 35%;
}

.bio-img img{
  width: 60%;
  box-shadow: 0 3px 28px rgba(0,0,0,0.25), 0 3px 6px rgba(0,0,0,0.22);
}

.bio {
  text-align: left;
  width: 50%;
  margin: 0 auto;
  padding: 1rem;
}

.bio h2, .bio h3 {
  margin: 0.25rem 0;
}

.bio a {
  color: #00a5e4;
}

.bio p {
  line-height: 1.5rem;
  font-weight: 300;
}

/*--------------------------------Make a Payment Page--------------------------*/

.payment-columns {
  align-items: baseline;
}

.payment {
  width: 33.333333%;
  height: auto;
  padding: 1rem;
}

.payment h2 {
  font-family: "Lato", sans-serif;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.payment p {
  text-align: center;
}

.payment p a {
  color: #00a5e4;
}

#payment-info {
  margin-bottom: 2rem;
}

@media(max-width:1000px) {

  nav {
    padding: 1.5rem;
  }

  #hero h2 {
    font-size: 3rem;
  }

  .bio-img {
    width: 40%;
  }

  .bio-img img{
    width: 65%;
  }

  .bio {
    width: 60%;
    padding: 1rem;
  }

  @media(max-width:850px) {

    nav {
      padding: 1.5rem;
    }

    .logo {
      width: 12rem;
      height: auto;
    }

    .about-home p {
      width: 100%;
      text-align: left;
      margin: 0 auto 3rem;
      line-height: 1.5;
      font-size: 1rem;
      padding: 1rem;
    }

    .team-home img {
      width: 100%;
      height: auto;
    }

    .main-content {
      padding: 1rem;
    }

    .bio-img {
      width: 50%;
    }

    .bio-img img{
      width: 65%;
    }

    .bio {
      width: 50%;
      padding: 1rem;
    }

    @media(max-width:750px) {

      nav  {
        width: 100vw;
        padding: 1.5rem 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .uk-nav {
        margin: 2rem 0;
      }

      section#hero {
        height: 25rem;
        padding: 1rem;
        }

      #hero h2 {
        font-size: 2rem;
      }

      #hero h3 {
        margin: 1rem 0;
        font-size: 1.3rem;
      }

      .our-services h5 {
        font-size: 0.8rem;
      }

      .about-home p {
        width: 100%;
        text-align: left;
        margin: 0 auto 3rem;
        line-height: 1.5;
        font-size: 1rem;
        padding: 1rem;
      }

      .columns {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1rem;
        margin-bottom: 3rem;
      }

      .right, .left {
        width: 100%;
      }

      div#contactInfo h2, .bio h2 {
        font-size: 1.5rem;
      }

      .footer-info h2 {
        font-size: 1.5rem;
      }

      .footer-info p {
        font-size: 1rem;
      }

      .main-content {
        padding: 2rem;
      }

      .full-bio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .bio-img {
        margin: 1rem 0;
      }

      .bio-img img {
        width: 80%;
      }

      .bio {
        width: 100%;
        text-align: center;
      }

      .bio h2, .bio h3, .bio a {
        text-align: center;
      }

      .bio p {
        text-align: left;
        margin-top: 2rem;
        margin-bottom: 0;
      }

      .payment-columns {
        margin: 0;
        flex-direction: column;
      }

      .payment {
        width: 100%;
        height: auto;
        padding: 1rem;
        margin: 1rem 0;
      }

      @media(max-width:540px) {

        .emergency-bar p {
          margin: 0;
          font-weight: 300;
          letter-spacing: normal;
          font-size: 0.8rem;
        }

        nav {
          justify-content: center;
          padding: 2rem 0 0;
        }

        .uk-nav {
          margin: 2rem 0;
        }

        .uk-nav li {
          margin: 0;
        }

        .uk-nav li a {
          font-weight: bold;
          text-decoration: none;
          color: black;
          margin: 0.5rem;
          font-size: 0.94rem;;
          transition: all 0.2s ease-in-out;
        }

        section#hero {
          height: 18rem;
          padding: 0rem;
        }

        #hero h2 {
          margin: 0;
          padding: 0;
          font-size: 1.8rem;
        }

        #hero h3 {
          margin: 1rem 0;
          font-size: 1rem;
        }

        #hero h4 {
          margin: 0;
          font-size: 1.2rem;
        }

        .our-services h5 {
          font-size: 0.6rem;
          height: 3rem;
        }

        .about-home h2, .team-home h2 {
          font-size: 1.5rem;
          font-weight: 900;
          margin-bottom: 2rem;
        }

        .main-content h2 {
          font-size: 1.5rem;
        }

        .about-home {
          padding: 0rem;
        }

        .about-home p {
          width: 100%;
          text-align: left;
          margin: 0 auto 3rem;
          line-height: 1.5;
          font-size: 1rem;
          padding: 1rem;
        }

        .main-content {
          padding: 0.5rem;
        }

        .footer-info h2 {
          font-size: 1.2rem;
        }

        .footer-info p {
          font-size: 0.9rem;
        }

        .bio-img img {
          width: 90%;
        }

        .bio p {
          font-size: 0.95rem;
          line-height: 1.4rem;
        }

        .extra-info {
          display: none;
        }
        }
      }
    }
}
